<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hbi.core.demo.mapper.CompanyMapper">

   <resultMap id="BaseResultMap" type="hbi.core.demo.dto.Company" extends="com.hand.hap.mapper.StdMapper.STD">
    <result column="COMPANY_ID" property="companyId" jdbcType="BIGINT"/>
    <result column="COMPANY_NUMBER" jdbcType="VARCHAR" property="companyNumber" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <result column="ENABLED_FLAG" jdbcType="VARCHAR" property="enabledFlag" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy" />
    <result column="LAST_UPDATED_BY" jdbcType="BIGINT" property="lastUpdatedBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="LAST_UPDATE_LOGIN" jdbcType="BIGINT" property="lastUpdateLogin" />
  </resultMap>

  
  
</mapper>